# Python
*.pyc
__pycache__/

# Virtual Environment
venv/
env/

# IDE/Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# System
.DS_Store
Thumbs.db

# Logs and backups
*.log
*.backup

# Django
*.sqlite3
*.pyc
*.pyo

# Media and Data
media/


# Environment variables
.env

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sql
*.sqlite

# Django migrations
**/migrations/*.py
**/migrations/*.pyc
