/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light gray background color */
    color: #333; /* Text color */
}

/* Header styles */
header {
    background-color: #0073e6; /* Blue background color */
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

/* Main styles */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust for header height */
    padding: 20px;
}

.content {
    background-color: #fff; /* White background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content h2 {
    margin-top: 0;
}

.content p {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #0073e6; /* Blue background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5; /* Darker blue on hover */
}


/* Messages styles */
.messages {
    position: fixed;
    top: 10%;
    left: 10px;
    width: 250px;
    z-index: 1000; /* Ensure it stays on top */
}
.messages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.messages li {
    background-color: #ffffff;
    color: #721c24;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}
.messages .success {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #27a92f;
}
.messages .error {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #e50909;
}
.messages .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
